language: python
python:
  - "3.7"

script:
        - ./script/latest-smdg.py

before_deploy:
      # Set up git user name and tag this commit
      - git config --local user.name "Marek5050"
      - git config --local user.email "marek.bejda@gmail.com"
      - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
      - git tag $TRAVIS_TAG

deploy:
  provider: releases
  api_key:
    secure: "x7Ztqf8ZLPY6W5tNmQE371I5pwjPEyWTYU2gYcc7fr2kbXYthLikzNm+CtcJcv2sEVlYQX5+tV2Zr+P2g3O05NPpA+UaKUoied5+/3DQuWUcwSh4iZK7wQ+PkDz7ZTPd+UuUYb+8TUBS7WEThTWIlMXKVuM3sM1RBWTf67Wgbbz71ZQMO9yFJ6CYnBpwWTQjD1GMw3NB/cxcYxKMy4zQrw/7PAjGN6L3jt1IYip7/6AtoPwgWqU2HEX5Lui1wOQ6c08LmhHP6ffkPDRACjthz8DtzbfBhAwReTi4BWHNSpoQ1elukXrZSeK0cI6nBxtgt4angypFvEorKbN0uEpkjtqiwXyEOcnwPRj86nvDhXSDcBj5ppmAb7lrGNY4S2Ue1KkVC0eKRvRSNqR8dce7P4TBU9LR9PCHu/WLJZe0yTQmpHZMvieJmKdR+YHc7TBwRNBI7ayVIYpV5ujykXncc3UmmV6Vfp5ZceG8bcXXx9RcPf9llbuczhxlPj72lYMBZgGCSZKwhRWzLTWLceS1yKBeCzZ0NmEAjfMSSJUueSdqUhDzK0aB4lQ6/tJ6CgYEoDl5u/hgDmUxj1I3nyW0j3pbllEy8nGYpig5QP8/oIYz/cVrRImfe5mlGPKXfIe+qUi5y4hUxq7IKO7EFUOUr8bAPipqElTQ1AnjbyIyfeY="
  file_glob: true
  file: data/*.csv
  skip_cleanup: true